[submodule "esp-homekit-demo"]
	path = esp-homekit-demo
	url = https://github.com/maximkulkin/esp-homekit-demo.git
[submodule "esp-open-rtos"]
	path = esp-open-rtos
	url = https://github.com/SuperHouse/esp-open-rtos.git
[submodule "esp-open-sdk"]
	path = esp-open-sdk
	url = https://github.com/pfalcon/esp-open-sdk.git
